# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# iOS / Xcode
**/Pods/
**/.symlinks/
**/DerivedData/
xcuserdata
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.moved-aside
*.xcuserstate
**/dgph
**/*sync/
profile

# Flutter build artifacts
Flutter/
app.*.symbols
app.*.map.json

# Android artifacts
/android/app/debug
/android/app/profile
/android/app/release
